p {
    margin: 10px 0 !important;
}

.login-container {
    width: max-content;
    margin-top: 50px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}
.main-container {
    width: 90%;
    margin-top: 50px;
    text-align: left;
}